* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #e0eafc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cfdef3, #e0eafc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cfdef3, #e0eafc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  max-width: 76.8rem;
  height: 45rem;
  background-color: #3a4452;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container form .display {
  flex: 1;
  display: flex;
  border-radius: 0.8rem;
  background-color: #ffffff;
  margin: 1rem;
}

.container form .display input {
  text-align: right;
  flex: 1;
  font-size: 4.5rem;
  box-shadow: none;
  color: black;
  height: 100%;
  padding: 0.5rem;
}

.container form .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  padding: 1rem;
}

.container form input {
  margin: auto;
  border: 0;
  outline: 0;
  width: 6rem;
  height: 6rem;
  border-radius: 0.8rem;
  box-shadow: -0.8rem -0.8rem 1.5rem rgba(255, 255, 255, 0.1),
    0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}

.container form input:active {
  transform: scale(0.98);
}

.container form .operator {
  background-color: #ffa500;
}

.container form .equal {
  background-color: #ffa500;
}

@media only screen and (max-width: 480px) {
  .container form {
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0rem;
  }
}

@media only screen and (max-height: 480px) {
  .container form {
    transform: rotate(-90deg);
    width: 100vh !important;
    height: 100vw !important;
  }
}
